body {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
}

@media screen and (max-width: 600px) {
    body {
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

header + section {
    margin-top: 2em;
}

section + section {
    margin-top: 4em;
}

div.themes span {
    display: inline-block;
    width: 6em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 11px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 1em 1em 1em;
    cursor: pointer;
    opacity: 40%;
}

div.themes span:hover {
    opacity: 100%;
}

input[type="date"] { 
    background: transparent;
}

div.lifepathnum {
    font-size: 2em;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    padding: 1em;
    border-radius: 40px;
    margin-left: 1em;
    opacity: 0;
}

textarea {
    margin-top: 1em;
    margin-left: 1em;
}

button {
    padding: 0.7em;
    border-radius: 11px;
    display: inline-block;
}

div.results {
    margin-top: 1em;
    margin-left: 1em;
}
