body.love {
    background-color: #ffc6f3;
    color: #6d2aa5;
    font-family: cursive;
}

body.mystic {
    background-color: #552b68;
    color: #b799d0;
    font-family: serif;
}

body.tech {
    background-color: #17577d;
    color: #b3b5db;
    font-family: serif;
}

body.dark {
    background-color: #000;
    color: #a2003c;
    font-family: serif;
}

body.earthy {
    background-color: #443737;
    color: #808071;
    font-family: sans-serif;
}

body.forest {
    background-color: #648661;
    color: #bdbda9;
    font-family: sans-serif;
}

body.passionate {
    background-color: #3c0505;
    color: #df00dc;
    font-family: sans-serif;
}

body.mystic input[type="date"] {
    background: #a177b5;
}

body.tech input[type="date"] {
    background: #7787b5;
}

body.dark input[type="date"] {
    background: #803434;
}

body.earthy input[type="date"] {
    background: #976b6b;
}

body.passionate input[type="date"] {
    background: #ea9fe2;
}

body.love div.lifepathnum {
    border-color: #ff83f1;
}

body.mystic div.lifepathnum {
    border-color: #c3acd7;
}

body.tech div.lifepathnum {
    border-color: #9ba1ff;
}

body.dark div.lifepathnum {
    border-color: #731a1a;
}

body.earthy div.lifepathnum {
    border-color: #917575;
}

body.forest div.lifepathnum {
    border-color: #a7c1b8;
}

body.passionate div.lifepathnum {
    border-color: #b01aa0;
}

body.love textarea {
    background-color: #ffb6f4;
    color: #c525ff;
}

body.mystic textarea {
    background-color: #351a31;
    color: #d688f2;
}

body.tech textarea {
    background-color: #222;
    color: #3ab9ea;
}

body.dark textarea {
    background-color: #000;
    color: #b5035f;
}

body.earthy textarea {
    background-color: #463f3f;
    color: #df946f;
}

body.forest textarea {
    background-color: #9cc4b7;
    color: #6f633f;
}

body.passionate textarea {
    background-color: #2f0f11;
    color: #ff1212;
}
